/* FOOTER */


.footer{
    display: flex;
    background-color: #a7c957;
    border: 4px solid $bordes;
    flex-flow: row;
    justify-content: space-around;
    .contactoFoot{
        font-size: 15px;
        h4{
            text-align:start;
        } 
    }
    .menuFooter {
        h4{
            text-align: center;
        }
        .ulFoot {
            li{
                a{
                 text-decoration: none;
                 color: $bordes;
                
                }
            }
        }
    }
    .redesSociales{
        p{
            a{
             text-decoration: none;
              color: $bordes;
            }

        }
    }
}
