/* HEADER */
@import 'vars';
header{
    background-color: $encabezado;
    background-image: url(../imgProyecto/pirineosPano.jpg) ;
    background-position: center;
    background-size: cover;
    align-items: center;
    .logo{
        display: flex;
        justify-content: center;
        img{
            padding: auto;
            width: 150px;
            height: 150px;
        }
        h2{
            font-family: 'Fasthand';
            display: none;
        }
        .desktop{
            display: none;
        }


    }
}
