/* RESPONSIVE */


@media (min-width: 768px)  and (max-width: 1023px) {

    /* INDEX */
    .contenedor {
        h1{
            font-size: map-get($h1-r, tablet );
        }
        .grid {
            .flexItem {
             width: auto;
             height: 400px;
             text-align: center;
             justify-content: space-around;
             margin: 5px 10px;
             .fotoIndex{
                width: 250px;
                a{
                    img{
                        width: auto;
                        height: 250px;
                    }
                }
             }
             .textoIndex{
                width: 250px;
                h3{
                    font-size: 50px;
                }
                p{
                    font-size: 20px;
                }
             }


             a{
                 img{
                        height: 300px;
                    }
                }
              h3{
                 font-weight: bold;
                  font-family: 'Fasthand';
                  font-size: 35px;
                   color: black;
                }
                p{
                    font-size: 20px;
                }
            }
        }
    }
        
    /* EQUIPO */
    #equipoFlex {
        h1{
            font-size: 50px;
        }
        .secEquipo{
            width: 600px;
            height: 350px;
            .fotosEquipo{
                img{
                    width: 250px;
                    height: 250px;
                }
            }
        
        }
    }

    /* HISTORIA */
    #historiaMain {
        h1{
            font-size: 50px;
        }
        .todoComenzo{
            width: 600px;
            .gridHistoria {
                img{
                width: 130px;
                height: 140px;
                transition: all .5s;
                }
                img:hover{
                    transform: scale(1.7);
                    z-index: 1;
                }
            }
        }

    }

    /* HOJA DE RUTA */
    #gridRuta{
        align-items: center;
        .rutaItem{
            width: 600px;
            .mapa iframe{
                width: 250px;
                height: 250px;
            }
        }
        
    }
    
    
    /* CONTACTO */
    .formulario{
        width: 600px;
    }


}

@media (min-width: 1024px){


    /* header */
    header{
        .logo{
            flex-direction: row; 
            display: flex;
            justify-content: center;
            h2{
                display: inline;
                font-family: 'Fasthand';
                font-size: 80px;
                margin: auto;
                text-align: center;
                justify-content: space-around;
            }
            img.mobile{
                display: none;
            }
            img.desktop{
                display: inline;
                width: 220px;
                height: 220px;
            }
        }
    }
    /* INDEX */
    .contenedor{
        h1{
            font-size: map-get($h1-r, desktop );
            font-weight: 600;
        }
        .grid{
            display: grid;
            grid-template-areas: 
            "equipo mapa"
            "historia contacto"
            ;
            .flexItem.equipo{
                grid-area: equipo;
            }
            .flexItem.historia{
                grid-area: historia;
            }
            .flexItem.hojaDeRuta{
                grid-area: mapa;
            }
            .flexItem.indexContacto{
                grid-area: contacto;
            }

        }
    }
    /* EQUIPO */
    #equipoFlex h1{
        font-size: 50px;
    }
    #equipoFlex .secEquipo{
        width: 800px;
        height: 550px;
        
    }
    #equipoFlex .secEquipo .fotosEquipo img{
        width: 350px;
        height: 350px;
    }

    /* HISTORIA */
    #historiaMain {
        h1{
            font-size: 50px;
        }
        .todoComenzo{
           width: 900px;
           .gridHistoria{
                img{
                 width: 200px;
                 height: 230px;
                 transition: all .5s;
                }
                img:hover{
                 transform: scale(1.7);
                 z-index: 1;
                }
            }
        }

        
    }


    /* HOJA DE RUTA */



    #gridRuta{
        display: grid;
        grid-template-areas: 
        "prin prin"
        "track1 track2"
        "track3 track4"
        "coment coment";
    }
    #gridRuta .rutaPrincipal{
        grid-area: prin;
         display: flex;
        flex-direction: column;
        align-items: center; 
        text-align: center;
        overflow:visible;
    }
    #gridRuta .trayecto1{
        grid-area: track1;
         display: flex;
        flex-direction: column; 
        margin: auto;
         align-items: center; 
        text-align: center;
    }
    #gridRuta .trayecto2{
        grid-area: track2;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #gridRuta .trayecto3{
        grid-area: track3;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #gridRuta .trayecto4{
        grid-area: track4;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #gridRuta .comentario{
        grid-area: coment;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color:#e76f51;
    }


    .mapa iframe{
        width: 400px;
        height: 400px;
    }

    /*  CONTACTO  */
    
    .formulario{
        width: 800px;
    }

    /* footer */

    .footer{
        justify-content: space-between;
    }

}



