/* REGLAS GENERALES */
h1{
    font-family: 'Fasthand', cursive;
    font-size: 3rem;
    font-weight: 400;
} 
$h1-r:(
    mov: 50px,
    tablet: 75px,
    desktop: 100px,
);
$h2-r:(
    mov2: 40px,
    tablet2: 65px,
    desktop2: 85px,
);
$h3-r:(
    mov3: 35px,
    tablet3: 50px,
    desktop3: 75px,
);
$h4-r:(
    mov4: 30px,
    tablet4: 50px,
    desktop4: 75px,
);


p{
    font-family: 'Oswald', sans-serif;
    font-size: 0.75rem;
}
/* colores principales */
$backg: #FEFAE0;
$encabezado : #606c38;
$bordes : #283618;
$conten : #dda15e;
$pie : #bc6c25;
.bg-menu{
    background-color: $encabezado;
}

/* Fontsize */




