* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* REGLAS GENERALES */
h1 {
  font-family: "Fasthand", cursive;
}

p {
  font-family: "Oswald", sans-serif;
}

/* colores principales */
.bg-menu {
  background-color: #606c38;
}

/* HEADER */ /* REGLAS GENERALES */
h1 {
  font-family: "Fasthand", cursive;
}

p {
  font-family: "Oswald", sans-serif;
}

/* colores principales */
.bg-menu {
  background-color: #606c38;
}

header {
  background-color: #606c38;
  background-image: url(../imgProyecto/pirineosPano.jpg);
  background-position: center;
  background-size: cover;
  align-items: center;
}
header .logo img {
  padding: auto;
  width: 150px;
  height: 150px;
  align-items: center;
}
header .logo h2 {
  font-family: "Fasthand";
  display: none;
}
header .logo .desktop {
  display: none;
}

/* INDEX */
.contenedor {
  background-color: #FEFAE0;
  padding-bottom: 30px;
}
.contenedor #carouselExampleIndicators {
  padding-top: 5px;
}
.contenedor h1 {
  font-family: "Fasthand";
  text-align: center;
}
.contenedor p {
  text-align: center;
  font-size: 18px;
}
.contenedor .grid {
  display: flex;
  flex-direction: column;
}
.contenedor .grid .flexItem {
  background-color: #dda15e;
  overflow: auto;
  display: flex;
  flex-direction: row;
  width: auto;
  height: 200px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin: 10px 15px;
}
.contenedor .grid .flexItem .fotoIndex {
  padding: 5px;
  width: 200px;
}
.contenedor .grid .flexItem .fotoIndex a img {
  width: auto;
  height: 150px;
}
.contenedor .grid .flexItem .textoIndex {
  width: 200px;
}
.contenedor .grid .flexItem .textoIndex h3 {
  text-align: center;
  font-weight: bold;
  font-family: "Fasthand";
  font-size: 30px;
  color: black;
}
.contenedor .grid .flexItem .textoIndex p {
  font-size: 10px;
  overflow: hidden;
}

/* EQUIPO */
#equipoFlex {
  background-color: #FEFAE0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#equipoFlex .secEquipo {
  width: 350px;
  height: 350px;
  overflow: scroll;
  background-color: #e76f51;
  border: 5px solid #2a9d8f;
  margin: 5px;
  flex-direction: row;
  flex-wrap: wrap;
}
#equipoFlex .secEquipo h2 {
  font-family: "Sono", sans-serif;
  text-align: center;
}
#equipoFlex .secEquipo .fotosEquipo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#equipoFlex .secEquipo .fotosEquipo img {
  gap: 3px;
  padding: 5px;
  width: 150px;
  height: 150px;
}

/* HISTORIA */
#historiaMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FEFAE0;
  padding-bottom: 30px;
}
#historiaMain .todoComenzo {
  width: 400px;
  background-color: #dda15e;
}
#historiaMain .todoComenzo h2 {
  font-family: "Sono", sans-serif;
  text-align: center;
}
#historiaMain .todoComenzo p {
  text-align: center;
  padding: 0 20px;
}
#historiaMain .todoComenzo .gridHistoria {
  padding-bottom: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}
#historiaMain .todoComenzo .gridHistoria img {
  width: 90px;
  height: 90px;
}
#historiaMain .todoComenzo .gridHistoria img:hover {
  transform: scale(2);
}

/* HOJA DE RUTA */
#gridRuta {
  background-color: #FEFAE0;
  display: flex;
  flex-direction: column;
}
#gridRuta .rutaItem {
  background: radial-gradient(#e9c46a, #e76f51);
  border: 8px solid #2a9d8f;
  margin: 5px;
}
#gridRuta .rutaItem h2 {
  text-align: center;
}
#gridRuta .rutaItem .mapa iframe {
  width: 250px;
  height: 250px;
}
#gridRuta .rutaPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: visible;
}
#gridRuta .trayecto1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#gridRuta .trayecto2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#gridRuta .trayecto3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#gridRuta .trayecto4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#gridRuta .comentario {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #e76f51;
  grid-area: comentario;
}

/* CONTACTO */
#contacto {
  background-color: #FEFAE0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contacto .formulario {
  width: 400px;
  background-color: #e9c46a;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#contacto .formulario .flexContacto {
  font-size: 15px;
  border: 8px solid #2a9d8f;
  margin: 5px;
  background-color: #e76f51;
}

/* FOOTER */
.footer {
  display: flex;
  background-color: #606c38;
  border: 10px solid #283618;
  flex-flow: row;
  justify-content: space-around;
}
.footer .contactoFoot {
  font-size: 15px;
}
.footer .contactoFoot h4 {
  text-align: start;
}
.footer .menuFooter h4 {
  text-align: center;
}
.footer .menuFooter .ulFoot li a {
  text-decoration: none;
  color: #283618;
}
.footer .redesSociales p a {
  text-decoration: none;
  color: #283618;
}

/* RESPONSIVE */
@media (min-width: 768px) and (max-width: 1023px) {
  /* INDEX */
  .contenedor .grid .flexItem {
    width: auto;
    height: 400px;
    text-align: center;
    justify-content: space-around;
    margin: 5px 10px;
  }
  .contenedor .grid .flexItem .fotoIndex {
    width: 250px;
  }
  .contenedor .grid .flexItem .fotoIndex a img {
    width: auto;
    height: 250px;
  }
  .contenedor .grid .flexItem .textoIndex {
    width: 250px;
  }
  .contenedor .grid .flexItem .textoIndex h3 {
    font-size: 50px;
  }
  .contenedor .grid .flexItem .textoIndex p {
    font-size: 20px;
  }
  .contenedor .grid .flexItem a img {
    height: 300px;
  }
  .contenedor .grid .flexItem h3 {
    font-weight: bold;
    font-family: "Fasthand";
    font-size: 35px;
    color: black;
  }
  .contenedor .grid .flexItem p {
    font-size: 20px;
  }
  /* EQUIPO */
  #equipoFlex h1 {
    font-size: 50px;
  }
  #equipoFlex .secEquipo {
    width: 600px;
    height: 350px;
  }
  #equipoFlex .secEquipo .fotosEquipo img {
    width: 250px;
    height: 250px;
  }
  /* HISTORIA */
  #historiaMain h1 {
    font-size: 50px;
  }
  #historiaMain .todoComenzo {
    width: 600px;
  }
  #historiaMain .todoComenzo .gridHistoria img {
    width: 130px;
    height: 140px;
    transition: all 0.5s;
  }
  #historiaMain .todoComenzo .gridHistoria img:hover {
    transform: scale(3);
    z-index: 1;
  }
  /* HOJA DE RUTA */
  #gridRuta {
    align-items: center;
  }
  #gridRuta .rutaItem {
    width: 600px;
  }
  #gridRuta .rutaItem .mapa iframe {
    width: 250px;
    height: 250px;
  }
  /* CONTACTO */
  .formulario {
    width: 600px;
  }
}
@media (min-width: 1024px) {
  /* header */
  header .logo {
    display: flex;
    flex-direction: row;
  }
  header .logo {
    display: flex;
    justify-content: center;
  }
  header .logo h2 {
    display: inline;
    font-family: "Fasthand";
    font-size: 50px;
    margin: auto;
    text-align: center;
    justify-content: space-around;
  }
  header .logo img.mobile {
    display: none;
  }
  header .logo img.desktop {
    display: inline;
    width: 220px;
    height: 220px;
  }
  /* INDEX */
  .contenedor .grid {
    display: grid;
    grid-template-areas: "equipo mapa" "historia contacto";
  }
  .contenedor .grid .flexItem.equipo {
    grid-area: equipo;
  }
  .contenedor .grid .flexItem.historia {
    grid-area: historia;
  }
  .contenedor .grid .flexItem.hojaDeRuta {
    grid-area: mapa;
  }
  .contenedor .grid .flexItem.indexContacto {
    grid-area: contacto;
  }
  /* EQUIPO */
  #equipoFlex h1 {
    font-size: 50px;
  }
  #equipoFlex .secEquipo {
    width: 800px;
    height: 550px;
  }
  #equipoFlex .secEquipo .fotosEquipo img {
    width: 350px;
    height: 350px;
  }
  /* HISTORIA */
  #historiaMain h1 {
    font-size: 50px;
  }
  .todoComenzo {
    width: 900px;
  }
  #historiaMain .todoComenzo .gridHistoria img {
    width: 200px;
    height: 230px;
    transition: all 0.5s;
  }
  #historiaMain .todoComenzo .gridHistoria img:hover {
    transform: scale(3);
    z-index: 1;
  }
  /* HOJA DE RUTA */
  #gridRuta {
    display: grid;
    grid-template-areas: "prin prin" "track1 track2" "track3 track4" "coment coment";
  }
  #gridRuta .rutaPrincipal {
    grid-area: prin;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: visible;
  }
  #gridRuta .trayecto1 {
    grid-area: track1;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    text-align: center;
  }
  #gridRuta .trayecto2 {
    grid-area: track2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  #gridRuta .trayecto3 {
    grid-area: track3;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  #gridRuta .trayecto4 {
    grid-area: track4;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  #gridRuta .comentario {
    grid-area: coment;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #e76f51;
  }
  .mapa iframe {
    width: 400px;
    height: 400px;
  }
  /*  CONTACTO  */
  .formulario {
    width: 800px;
  }
}/*# sourceMappingURL=main.css.map */