*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import 'vars';
@import 'header';
@import 'index';
@import 'equipo';
@import 'historia';
@import 'hojaDeRuta';
@import 'contacto';
@import 'footer';
@import 'responsive';

